.pagination {
    display: flex;
    justify-content: space-between;

    &--top {
        margin-bottom: 24px;
    }

    div:only-child {
        margin-left: auto;
    }

    &__arrow {
        font-size: 30px;
        cursor: pointer;
    }
}
