.main-view {
    &__header {
        text-transform: uppercase;
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    &__list-group {
        display: block;
    }
}
