$border-color: #EEEEEE; // @TODO: TBD / Pass to variable colors file

.character-view {
    &__header {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: 600;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 24px;
    }

    &__content-left {
        background-color: #282c34;
        color: white;
        padding: 30px;
    }

    &__body {
        margin-bottom: 24px;
    }

    &__info {
        font-size: 20px;
        line-height: 1.6;
    }

    &__list-items {
        display: flex;
        justify-content: space-between;
    }

    &__link-button {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
    }
}
