.header {
    &__brand-logo-wrapper {
        display: inline-block;
    }

    &__banner {
        width: 100%;
        text-align: center;
    }

    &__banner-img {
        width: 100%;
        height: 242px;
    }

    &__top-bar {
        display: flex;
        padding: 0 20px;
    }
}
