// @import 'src/styles/base';

.character-item {
    position: relative;

    &__heading-group {
        margin-bottom: 10px;
    }

    &__title {
        text-transform: uppercase;
    }

    &__thumbnail {
        height: 525px;
        padding: 0;
        border-radius: 0;
    }

    &__img-wrapper {
        border-bottom: 1px solid #ddd;
    }

    &__crop-img {
        max-height: 350px;
        min-height: 350px;
        width: 100%;
    }

    &__tag-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        text-align: center;
    }

    &__tag-item {
        display: inline-block;
        margin: 6px;
        text-align: center;
    }

    &__caption-footer {
        position: absolute;
        bottom: 8px;
    }

    &__link {
        font-size: 14px;
        color: #4D4D4D;
        text-transform: uppercase;

        &:hover {
            color: #E4008C;
        }
    }
}
