// @import './src/styles/base';

.footer {
    padding: 10px 15px;
    background-color: #303030; //$footer-background-color;

    &__copyright {
        font-size: 18px;
        color: white;
    }

    &__icon {
        font-size: 18px;
    }
}
