.global-view {
    &__wrapper {
        // background: #f4f7f6;
        position: relative;
        width: 100%;
        min-height: 100%;
    }

    &__header {
        display: block;
    }

    &__main {
        width: 100%;
        max-width: 1280px;
        min-height: 720px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.loading {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #337ab7;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;

    position: fixed;
    z-index: 999;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
